:root {
    --pastel-blue-01: #FFFFFF;
    --pastel-blue-02: #FDFEFE;
    --pastel-blue-03: #FBFDFD;
    --pastel-blue-04: #F9FCFD;
    --pastel-blue-05: #F8FBFC;
    --pastel-blue-06: #F6FBFC;
    --pastel-blue-07: #F4FAFB;
    --pastel-blue-08: #F3F9FB;
    --pastel-blue-09: #F1F8FA;
    --pastel-blue-10: #EFF7FA;
    --pastel-blue-11: #EEF7F9;
    --pastel-blue-12: #ECF6F9;
    --pastel-blue-13: #EAF5F8;
    --pastel-blue-14: #E9F4F8;
    --pastel-blue-15: #E7F3F7;
    --pastel-blue-16: #E5F3F7;
    --pastel-blue-17: #E4F2F6;
    --pastel-blue-18: #E2F1F6;
    --pastel-blue-19: #E0F0F5;
    --pastel-blue-20: #DFEFF5;
    --pastel-blue-21: #DDEFF4;
    --pastel-blue-22: #DBEEF4;
    --pastel-blue-23: #DAEDF3;
    --pastel-blue-24: #D8ECF3;
    --pastel-blue-25: #D6EBF2;
    --pastel-blue-26: #D5EBF2;
    --pastel-blue-27: #D3EAF1;
    --pastel-blue-28: #D1E9F1;
    --pastel-blue-29: #D0E8F0;
    --pastel-blue-30: #CEE7F0;
    --pastel-blue-31: #CCE7EF;
    --pastel-blue-32: #CBE6EF;
    --pastel-blue-33: #C9E5EE;
    --pastel-blue-34: #C7E4EE;
    --pastel-blue-35: #C6E3ED;
    --pastel-blue-36: #C4E3ED;
    --pastel-blue-37: #C2E2EC;
    --pastel-blue-38: #C1E1EC;
    --pastel-blue-39: #BFE0EB;
    --pastel-blue-40: #BDDFEB;
    --pastel-blue-41: #BCDFEA;
    --pastel-blue-42: #BADEEA;
    --pastel-blue-43: #B8DDE9;
    --pastel-blue-44: #B7DCE9;
    --pastel-blue-45: #B5DBE8;
    --pastel-blue-46: #B3DBE8;
    --pastel-blue-47: #B2DAE7;
    --pastel-blue-48: #B0D9E7;
    --pastel-blue-49: #AED8E6;
    --pastel-blue-50: #ADD8E6;
}